.mat-chip-list-wrapper {
  flex-direction: row-reverse;
  margin: 0% 0% 2% 0%;
}

table {
  width: 100%;
}

.example-container {
  max-height: 400px;
  overflow: auto;
}

td.mat-cell:last-child, td.mat-footer-cell:last-child, th.mat-header-cell:last-child {
  padding-right: 0px;
  padding-left: 0px;
  width: 10%;
}

.col-acoes {
  width: 85%;
}

.icon-close {
  color: #b10000;
}

.btn-search {
  background-color: #3f51b5;
  border-radius: 50px;
}

.btn-new {
  background-color: #007b12;
  border-radius: 50px;
}

.container-btns {
  width: 100%;
  margin-bottom: 1.5%;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

@media screen and (max-width: 690px) {
  td.mat-cell:last-child, td.mat-footer-cell:last-child, th.mat-header-cell:last-child {
    width: 20%;
  }
  .col-acoes {
    width: 95%;
  }
}

.container-body {
  min-width: 460px !important;
}
