table {
  width: 100%;
}

td.mat-cell:last-child, td.mat-footer-cell:last-child, th.mat-header-cell:last-child {
  padding-right: 0px;
  padding-left: 0px;
  width: 10%;
}

th.mat-header-cell.empty {
  text-align: center;
  font-size: 15px;
}

.col-acoes {
  width: 70%;
}

.icon-close {
  color: #b10000;
}

@media screen and (max-width: 690px) {
  td.mat-cell:last-child, td.mat-footer-cell:last-child, th.mat-header-cell:last-child {
    width: 20%;
  }
}

@media screen and (max-width: 1425px) {
  .col-acoes {
    width: 95%;
  }
}

@media screen and (max-width: 768px) {
  .mat-mini-fab {
    margin-bottom: 5%;
    margin-top: 5%;
  }
}
