/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/pink-bluegrey.css';

* {
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }
body { margin: 0; font-family: 'Roboto', sans-serif; }

.mat-toolbar.mat-primary {
  background: #3f51b5;
}

.example-icon {
  width: 97%;
}

.container-body {
  margin: 3% 3% 3% 3%;
}

.float-left {
  float: left !important;
}

.float-right {
  float: right !important;
}

.float-center {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.clearfix::before, .clearfix::after {
  content: ' ';
  display: table;
  clear: both;
}

/*.clearfix {*/
  /*overflow: auto;*/
/*}*/

div {
  display: block;
}

a {
  text-decoration: none;
  color: #ffffff;
}

a:hover, a:focus {
  color: #c2bdb9;
}

.mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar {
  background-color: #3f51b5;
}

.mat-form-field-ripple {
  background-color: #3f51b5 !important;
}

.mat-form-field.mat-form-field-invalid .mat-form-field-ripple, .mat-form-field.mat-form-field-invalid .mat-form-field-ripple.mat-accent {
  background-color: #f44336 !important;
}

.mat-primary .mat-option.mat-selected:not(.mat-option-disabled) {
  color: #0077e6;
  background-color: #4b4b4b;
}

.mat-form-field.mat-focused.mat-primary .mat-select-arrow {
  color: #3f51b5;
}

.mat-datepicker-toggle-active {
  color: #3f51b5;
}

.mat-input-element {
  caret-color: #3f51b5;
}

.mat-calendar-body-selected {
  background-color: #3f51b5;
  color: #fff;
}

.mat-form-field {
  width: 100% !important;
  margin-bottom: 1%;
}

.row {
  display: grid;
  grid-column-gap: 5%;
}

.col {
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.grid-item {
  text-align: left;
}
