<div class="container-body">
  <h1>Nova Pessoa</h1>
  <form class="example-form" >
      <div class="row col">
        <div class="grid-item">
          <label class="{{nome.hasError('required') && nome.touched ? 'label-error' : 'label'}}">Nome:</label>
          <mat-form-field>
            <input matInput #nome="ngModel" mask="S*" name="nome" required ngModel>
          </mat-form-field>
          <!--<app-message [control]="nome" [error]="'required'" [text]="'Nome é requerido'"></app-message>-->
        </div>
      </div>
      <div class="row col">
        <div class="grid-item">
          <label class="{{logradouro.hasError('required') && logradouro.touched ? 'label-error' : 'label'}}">Logradouro:</label>
          <mat-form-field >
            <input matInput #logradouro="ngModel" name="logradouro" required ngModel>
          </mat-form-field>
          <!--<app-message [control]="logradouro" [error]="'required'" [text]="'Logradouro é requerido'"></app-message>-->
        </div>
        <div class="grid-item">
          <label class="{{numero.hasError('required') && numero.touched ? 'label-error' : 'label'}}">Número:</label>
          <mat-form-field >
            <input matInput  #numero="ngModel" mask="0*" name="numero" required ngModel>
          </mat-form-field>
          <!--<app-message [control]="numero" [error]="'required'" [text]="'Número é requerido'"></app-message>-->
        </div>
      </div>

      <div class="row col">
        <div class="grid-item">
          <label >Complemento:</label>
          <mat-form-field >
            <input matInput>
          </mat-form-field>
        </div>
        <div class="grid-item">
          <label class="{{bairro.hasError('required') && bairro.touched ? 'label-error' : 'label'}}">Bairro:</label>
          <mat-form-field >
            <input matInput #bairro="ngModel" name="bairro" required ngModel onfocus="">
          </mat-form-field>
          <!--<app-message [control]="bairro" [error]="'required'" [text]="'Bairro é requerido'"></app-message>-->
        </div>
        <div class="grid-item">
          <label class="{{(cep.hasError('required') || cep.hasError('minlength')) && cep.touched ? 'label-error' : 'label'}}">Cep:</label>
          <mat-form-field >
            <input matInput #cep="ngModel" required name="cep" mask="00000-000" minlength="8" ngModel>
          </mat-form-field>
          <!--<app-message [control]="cep" [error]="'required'" [text]="'Cep é requerido'"></app-message>-->
          <!--<app-message [control]="cep" [error]="'minlength'" [text]="'Informe o cep corretamente'"></app-message>-->
        </div>
      </div>

      <div class="row col">
        <div class="grid-item">
          <label>Cidade:</label>
          <mat-form-field >
            <input matInput>
          </mat-form-field>
        </div>
        <div class="grid-item">
          <label>Estado:</label>
          <mat-form-field >
            <input matInput>
          </mat-form-field>
        </div>
      </div>

    <div>
      <button mat-button class="btn-voltar" routerLink="/pessoas-page">Voltar</button>
      <button mat-button class="btn-salvar">Salvar</button>
    </div>

  </form>
</div>
