<div class="container-body">
  <form (ngSubmit)="pesquisar()">
    <div>
      <h1>LANÇAMENTOS</h1>
    </div>
    <div>
      <div class="example-form">
        <div class="row col">
          <div class="grid-item">
            <label>Descrição:</label>
            <mat-form-field>
              <input type="text" aria-label="Number" matInput [formControl]="myControl"
                     [matAutocomplete]="auto" name="descricao" [(ngModel)]="descricao">
              <mat-autocomplete #auto="matAutocomplete">
                <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                  {{option}}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </div>
        </div>
      </div>
    </div>
    <div class="container-half row col-dates">
      <div class="grid-item">
        <label>Vencimento:</label>
        <mat-form-field>
          <input matInput [matDatepicker]="picker1" name="vencimentoInicio" [(ngModel)]="dataVencimentoInicio">
          <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
          <mat-datepicker #picker1></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="grid-item container-label">
        <label>Até</label>
      </div>
      <div class="grid-item date-ate">
        <mat-form-field>
          <input matInput [matDatepicker]="picker2" name="vencimentoFim" [(ngModel)]="dataVencimentoFim">
          <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
          <mat-datepicker #picker2></mat-datepicker>
        </mat-form-field>
      </div>
    </div>
    <div class="clearfix container-btns">
      <div class="float-left">
        <button class="btn-search" mat-button matTooltip="Pesquisar lançamento" [matTooltipPosition]="'after'" type="submit">
          <mat-icon>search</mat-icon>
          Pesquisar
        </button>
      </div>
      <div class="float-right">
        <button class="btn-new float-right" mat-button matTooltip="Cadastrar lançamento" [matTooltipPosition]="'before'"
                routerLink="/lancamento-cadastro">
          <mat-icon>add</mat-icon>
          Novo
        </button>
      </div>
    </div>
  </form>
  <app-datatable-lancamentos [dataSource]="dataSource"
                             [displayedColumns]="displayedColumns"></app-datatable-lancamentos>

</div>
